:root {
  --color__primary: #f1712c;

  --color__dim: #fde9de;

  --color__white: white;
  --color__black: black;

  --color__grey-lightest: #fefefe;
  --color__grey-lighter: #ebeaeb;
  --color__grey-light: #aeaeaf;
  --color__grey: #6a696b;
  --color__grey-dark: #48474b;
  --color__grey-darker: #373738;

  --color__nav-bg: #6a696b;
  --color__font-dark: #1d1c1c;
  --color__font-title: #404042;
  --color__font-subtitle: #8a8789;
  --color__table-header-bg: #eeedee;
  --color__table-footer-bg: #f6f6f8;
  --color__table-hr: #ebebeb;
  --color__input-bg: #f2f1f1;

  --color__border: #a5a4a4;

  --color__success: #00a63c;
  --color__success-bg: #e6f6ec;
  --color__danger: #d22d2d;
  --color__danger-bg: #f7d6d7;

  --size__page-width: 144rem;
  --size__sidebar-width: 22rem;
  --size__header-height: 8rem;

  --border-radius__sm: 4px;
  --border-radius__md: 6px;
  --border-radius__lg: 8px;
}
