.modal {
  width: 43rem;
  max-width: 95%;
  background: #fff;
  border-radius: var(--border-radius__lg);
  box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed;
  z-index: 55;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .close {
    display: inline-block;
    border: none;
    background: none;
    outline: none;
  }

  .title {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 3rem 4rem 0 4rem;
  }

  .content {
    padding: 4rem 7rem 3rem 7rem;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    width: 29rem;
    margin: auto auto 2rem auto;
  }
}
