.validationMessage {
  color: #9f3a38;
  margin-top: 0rem;
  margin-left: 1rem;
  font-size: 1rem;
  text-align: left;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 29rem;
  margin: 4rem auto 2rem auto;
}

.addressInline {
  display: flex;
  input:first-child {
    margin-right: 1rem;
  }
  input:last-child {
    width: 40%;
  }
}

.inline {
  display: flex;
  input:first-child {
    margin-right: 1rem;
  }
}
