.validationMessage {
  color: #9f3a38;
  margin-top: -0.7rem;
  margin-left: 1rem;
  font-size: 1rem;
  text-align: left;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 29rem;
  margin: 4rem auto 2rem auto;
}
